.userInfoImage{
    height: 70vh;
    width: 40vw;
}

.userInfos{
    text-align: left;    
}

.space{
    margin-top: 6vh!important;
    margin-bottom: 6vh!important;
    margin-right: 10vw!important;
}